body{
    background-color:#333139; 
}

.high-container{
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    width: 60%;
    margin: auto;
    
}
.title{
    font-size: 80px;
    color: #F0F0F0;
    margin-bottom: 30px;
    text-align: center;
}

span{
    padding-left: 10px;
    padding-right: 10px;
background-color: #28262d
}
.upperFlex{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
}
.field{
    margin-top: 5px;
    height: 30px;
    width: 80px;
    background-color: #28262d;
    box-shadow: 2px 2px #1b1a1f inset;
    text-align: center;
    color: #F0F0F0;
}
.field > p{
    font-size: x-large;
    margin: 0;
    padding-top: 2px;
}
.highLevel{
    margin: 0;
    color: #F0F0F0;
    text-align: center;
    font-size: larger;
}
.highLevelFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.switchButton{
    height: 30px;
    width: 80px;
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: fit-content;
}

.buttons{
    border: none;
    height: 300px;
    width: 300px;
    cursor:cell;
}
.buttons-darker{
    filter: brightness(50%);
}
.red-button{
    border-top-left-radius: 100px;
    background-color: #D9644A;
}
.blue-button{
    border-top-right-radius: 100px;
    background-color: #6D4AD9;
}
.green-button{
    border-bottom-left-radius: 100px;
    background-color: #4AD9A5;  
}
.yellow-button{
    border-bottom-right-radius: 100px;
    background-color: #D9CC4A;
}
.buttons:hover{
    transform: scale(1.02);
}
.circle{
    display: flex;
    background-color: #F0F0F0;
    position: absolute;
    justify-self: center;
    align-self: center;
    height: 200px;
    width:200px;
    border: 15px solid  #333139;
    border-radius: 50%;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}

.correctAnswer{
    box-shadow: 0px 0px 100px 10px rgb(106, 255, 106) ;
} 
.circle > p{
    /*padding-top: 10px;*/
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #333139;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;


    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.button-circle-press{
    background-color: darkgrey;
}
.button-red-press{
    opacity: 20%;
    box-shadow: 20px 20px inset;
}
.button-blue-press{
    opacity: 20%;
    box-shadow: -20px 20px inset;
}
.button-green-press{
    opacity: 20%;
    box-shadow: 20px -20px inset;
}
.button-yellow-press{
    opacity: 20%;
    box-shadow: -20px -20px inset;
}

.button-red-light{
    box-shadow: 
    0 0 80px 15px #F0F0F0 inset,
    0 0 40px 5px #D9644A;
}
.button-blue-light{
    box-shadow: 
    0 0 80px 15px #F0F0F0 inset,
    0 0 40px 5px #6D4AD9;
}
.button-green-light{
    box-shadow: 
    0 0 80px 15px #F0F0F0 inset,
    0 0 40px 5px #4AD9A5;
}
.button-yellow-light{
    box-shadow: 
    0 0 80px 15px #F0F0F0 inset,
    0 0 40px 5px #D9CC4A;
}

@media(max-width:450px){
    .container{
        gap: 15px;
    }
    .title{
        font-size: 40px;
    }
    .buttons{
        border: none;
        height: 150px;
        width: 150px;
    }
    .circle{
        height: 75px;
        width:75px;
        border: 10px solid  #333139;
    }

    .circle > p{
        /*padding-top: 10px;*/
        font-size: 9px;
        text-align: center;
        line-height: 15px;
        color: #333139;
        font-weight: bolder;
        font-family: 'Press Start 2P', cursive;
    }
    
    .red-button{
        border-top-left-radius: 37.5px;
    }
    .blue-button{
        border-top-right-radius: 37.5px;
        
    }
    .green-button{
        border-bottom-left-radius: 37.5px;
    }
    .yellow-button{
        border-bottom-right-radius: 37.5px;
    }

    .button-red-press{
        opacity: 20%;
        box-shadow: 10px 10px inset;
    }
    .button-blue-press{
        opacity: 20%;
        box-shadow: -10px 10px inset;
    }
    .button-green-press{
        opacity: 20%;
        box-shadow: 10px -10px inset;
    }
    .button-yellow-press{
        opacity: 20%;
        box-shadow: -10px -10px inset;
    }
    
}